@model Recovery.Pass.Model.ViewModel.RecoveryViewMole
@{
    ViewBag.Title = "StarRecovery";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="form-style">
            <form action="@Url.Content("~/Aceeso/StarRecovery")" method="post">
                <label>Escribe tu correo electronico</label>
                @Html.TextBoxFor(d=>d.Email,null,new{@class-"form-control"})
                @Html.ValidationMessageFor(d=>d.Email,null,new{style="color:red;"})
                <br />
                <div class="tec7xt-right">
                    <button class="btn btn primary">Recuperar</button>

                </div>
            </form>
        </div>
    </div>
</div>